@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: local('Muli'), url(/homelink/fonts/muli.woff) format('woff');
}

/*
Colors:

Orange: #DC3522;
Grey-Tan: #D9D3CA;
Grey-blue: #374140;
Dark-grey: #2A2C2B;
Almost-black: #1E1E20;


*/
* {
	-webkit-font-smoothing: antialiased;
}

html {
	height: 100%;
}

body {
	background: #ffffff; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #f7eede 64%, #f7eede 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(64%,#f7eede), color-stop(100%,#f7eede)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#f7eede 64%,#f7eede 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#f7eede 64%,#f7eede 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#f7eede 64%,#f7eede 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #ffffff 0%,#f7eede 64%,#f7eede 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7eede',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
	font-family: 'Muli', sans-serif;
	font-size: 16px;
	color: #2A2C2B;
}

a {
	color: #DC3522;
}

a:hover,
a:visited {
	color: #DC3522;
	text-decoration: none;
}

h1 {
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
	color: #2A2C2B;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}


.home-banner {
	margin: -20px -20px 20px -20px;
	padding: 20px 20px 40px;
	background: #1E1E20;
	color: white;
	background: #2f2f33; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #2f2f33 0%, #1e1e20 50%, #1e1e20 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#2f2f33), color-stop(50%,#1e1e20), color-stop(100%,#1e1e20)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #2f2f33 0%,#1e1e20 50%,#1e1e20 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #2f2f33 0%,#1e1e20 50%,#1e1e20 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #2f2f33 0%,#1e1e20 50%,#1e1e20 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #2f2f33 0%,#1e1e20 50%,#1e1e20 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f2f33', endColorstr='#1e1e20',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	box-shadow: 0px 5px 5px #999;
}

.home-banner-contents {
	padding: 10px;
	margin: 20px;
	color: white;
	margin: 0 auto;
	text-align: center;
}

.home-banner-contents h1 {
	color: white;	
	font-size: 56px;
	text-shadow: 1px 1px 10px #111;
	line-height: 48px;
	padding-bottom: 20px;
}

.info {
	padding: 10px;
	text-align: justify;
}

.info .icon {
	margin-top: 5px;
	padding: 0px;
	text-align: justify;
}

.create-account-button {
	padding: 5px;
}

#createAccountForm {
	padding: 0;
	margin: 0;
}

.main {
	background: #fff;
	border-radius: 4px;
	box-shadow: 1px 1px 5px #777;
	padding: 20px;
	text-align:center;
}

.navbar .brand {
	margin-left: 7%;
	color: #DC3522;
	padding-right: 6%;
}

.navbar .brand sup {
	color: #eee;
}

/* .navbar .nav > li > a {
	color: white;
}

.navbar .nav > li > a:hover {
	color: #DC3522;
}
 */

.message {
	display:none;
}

.footer {
	text-align:right;
	padding:20px;
	margin-top:40px;
}

.footer hr {
	display: block; 
	height: 1px;
    border: 0; 
    border-top: 1px solid #999;
    margin: 1em 0; 
    padding: 0;
    box-shadow: 0px 0px 5px white;
}

.shoppingList {
	text-align: center;
	padding-left: 20px;
}

.accordion-toggle h3,
.accordion-toggle h4 {
	padding: 0px;
	line-height: 10px;
}

/* Override properties */
.close {
	float: right;
	font-size:20px;
	font-weight:bold;
	line-height:20px;
	color:#000;
	text-shadow:0 1px 0 #fff;
	opacity:.2;
	filter:alpha(opacity=20);
}

.close:hover,.close:focus {
	color:#000;
	text-decoration:none;
	cursor:pointer;
	opacity:.4;
	filter:alpha(opacity=40);
}

.btn-default {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #DC3522;
  *background-color: #D61400;
  background-image: -moz-linear-gradient(top, #DC3522, #D61400);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#DC3522), to(#D61400));
  background-image: -webkit-linear-gradient(top, #DC3522, #D61400);
  background-image: -o-linear-gradient(top, #DC3522, #D61400);
  background-image: linear-gradient(to bottom, #DC3522, #D61400);
  background-repeat: repeat-x;
  border-color: #D61400 #D61400 #D61400;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffDC3522', endColorstr='#ffD61400', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.btn-default.disabled,
.btn-default[disabled] {
  color: #ffffff;
  background-color: #D61400;
  *background-color: #df8505;
}

.btn-default:active,
.btn-default.active {
  background-color: #D61400 \9;
}

.navbar-inverse .navbar-inner {
  background-color: #1E1E20;
  background-image: none;
  filter: none;
  border: none;
  border-radius: 0;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 40px;
  padding-right: 40px;
}


.alert-default {
  padding: 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #f7eede;
  border: 1px solid #f6f0e2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  text-align: center;
}

.alert-default,
.alert-default h4 {
  color: #99938A;
}

input[type="text"] {
	margin: 10px 0;
}

@media (max-width: 767px) {

	.get-started {
		text-align: center;
	}
	.create-account-button {
		text-align: center;
	}
}

@media (max-width: 480px) {
	
	.create-account-button {
		text-align: center;
	}
	
	.navbar-inverse .navbar-inner {
		padding: 0px 10px;
	}
	
}